<!DOCTYPE html>
<html>
  <head>
    <title>File Upload Example</title>
  </head>
  <body>
    <h1>File Upload Example</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="files" multiple>
  <input type="submit" value="Upload Files">
</form>
  </body>
</html>


<!DOCTYPE html>
<html>
<head>
  <title>Uploaded Files</title>
</head>
<body>
  <h1>Uploaded Files</h1>
  {{#if s3Keys.length}}
    <ul>
      {{#each s3Keys}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <form action="/compress" method="POST">
      <button type="submit" name="s3Keys" value="{{s3Keys}}" id="compressButton">Compress</button>
    </form>
  {{else}}
    <p>No files were uploaded to S3.</p>
  {{/if}}
</body>
</html>

